* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    .header-title {
        margin-left: 1.5rem;
        margin-bottom: 0;
        a {
            color: #000;
            &:hover {
                color: rgb(30, 149, 247);
            }
        }
    }
    .header-menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        li a {
            padding: 12px 20px;
            font-size: 1.2rem;
            color: #000;
            &:hover {
                color: rgb(30, 149, 247)
            }
        }
        li:last-child{
            margin-right: 1.5rem;
        }
    }
}
